<p>game works!</p>
<div class="gameBox"
	(keydown.ArrowDown)="fallPiece(tetrimo)"
	(keydown.ArrowRight)="rightPiece(tetrimo)"
	(keydown.ArrowLeft)="leftPiece(tetrimo)"
	(keydown.ArrowUp)="rotatePiece(tetrimo)">
	<div style="background-color: grey">
		<div class="line">
			<div class="block border-game"></div>
			<div class="block border-game" *ngFor="let column of terrain.terrain[0]"></div>
			<div class="block border-game"></div>
		</div>
		<div class="line" *ngFor="let row of terrain.terrain; let indexRow = index;" >
			<div class="block border-game"></div>
			<div class="block color-{{column}}" *ngFor="let column of row; let indexColumn = index;"></div>
			<div class="block border-game"></div>
		</div>
		<div class="line">
			<div class="block border-game"></div>
			<div class="block border-game" *ngFor="let column of terrain.terrain[0]"></div>
			<div class="block border-game"></div>
		</div>
	</div>
	<button (click)="startGame()">Start</button>
	<button (click)="terrain.terrain[19].fill(1)">lol</button>
	<button (click)="terrain.terrain[18].fill(1)">lol</button>
	<input />
</div>