<p>game works!</p>
<p>Score: {{score}}</p>
<div class="gameBox">
	<div style="background-color: grey">
		<div class="line">
			<div class="block border-game"></div>
			<div class="block border-game" *ngFor="let column of terrain.terrain[0]"></div>
			<div class="block border-game"></div>
		</div>
		<div class="line" *ngFor="let row of terrain.terrain; let indexRow = index;" >
			<div class="block border-game"></div>
			<div class="block color-{{column}}" *ngFor="let column of row; let indexColumn = index;"></div>
			<div class="block border-game"></div>
		</div>
		<div class="line">
			<div class="block border-game"></div>
			<div class="block border-game" *ngFor="let column of terrain.terrain[0]"></div>
			<div class="block border-game"></div>
		</div>
	</div>

	<!-- <div *ngFor="let nextTetrimo of nextTetrimos" >
		<div class="line" *ngFor="let row of nextTetrimo.get()" >
			<div class="block border-game"></div>
			<div class="block color-{{(nextTetrimo.indexPiece + 1) * column}}" *ngFor="let column of row"></div>
			<div class="block border-game"></div>
		</div>
	</div> -->

	<button (click)="terrain.terrain[19].fill(1)">Line 1</button>
	<button (click)="terrain.terrain[18].fill(1)">Line 2</button>
</div>