// $size_block: 30px;
$margin_block: 1px;


.gameBox {
    display: flex;
    flex-direction: column;
    // width: ($size_block) * 12;
    // height: ($size_block) * 22;
}

.line {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
}

.block {
    flex: 1;
}

.color-, .color-0 {
    background-color: black;
    box-shadow: 0px 0px 0px $margin_block lightgrey inset;
    // border: $margin_block solid white;
}

.color-1 {
    background-color: lightblue;
}

.color-2 {
    background-color: blue;
}

.color-3 {
    background-color: orange;
}

.color-4 {
    background-color: yellow;
}

.color-5 {
    background-color: green;
}

.color-6 {
    background-color: purple;
}

.color-7 {
    background-color: red;
}

.border-game {
    // background-color: #2b075c;
    background-color: #787878;
}

.color-1, .color-2, .color-3, .color-4, .color-5, .color-6, .color-7, .border-game {
    box-shadow: 0px 0px 0px 9% rgba(0, 0, 0, 0.05) inset;

    // background-color: lightblue;
    // box-shadow: calc(-1 * $size_block / 10) calc(-1 * $size_block / 10) 0px calc($size_block / 10) rgba(0, 0, 0, 0.3) inset;
    // box-shadow: calc($size_block / 10) calc($size_block / 10) 0px calc($size_block / 10) rgba(0, 0, 0, 0.1) inset;
}