.home-main {
	display: flex;
	flex-direction: column;
	width: 99%;
	height: 99%;
	position: absolute;
	justify-content: center;
	overflow: hidden;
	align-items: center;
}

.logo {
	// margin-top: 10px;
	// margin-bottom: 10px;
	margin-left: 20px;
	width: 200px;
	margin-bottom: 30px;
	height: auto;
}

.input-name {
	align-items: center;
	font-size: 25px;
	font-family: "Pixel Gosub";
	vertical-align: middle;
	width: 15ch;
	height: 1.5em;
	padding-bottom: 0.1em;
	background-color: rgba(119,197,231,1);
	border: 2px solid #EF3F2C;
	border-radius: 10px;
	text-align: center;
	outline: none;
	background: linear-gradient(180deg, rgba(15,76,159,1) 0%, rgba(119,197,231,1) 25%);
}