body {
	// background-color: #0043b0;
	background-color: black;
	background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/521d760a345b0c8.png");
	background-size: 75vh auto;
	// background-repeat: repeat;
}

@font-face {
	font-family: "Pixel Gosub";
	src: url('./../fonts/PixelGosub.ttf');
}